* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* LEFT PROFILE */
.profile {
  width: 300px;
  background: #020617;
  padding: 40px 20px;
  text-align: center;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #38bdf8;
  margin-bottom: 20px;
}

.profile h1 {
  color: #38bdf8;
}

.profile-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* BUTTONS */
.btn {
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.secondary {
  background: #1e293b;
  color: white;
  border: 1px solid #38bdf8;
}

/* RIGHT CONTENT */
.content {
  flex: 1;
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

/* SKILLS GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
}

.grid div {
  background: #1e293b;
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid transparent;
  cursor: default;
}

.grid div:hover {
  transform: translateY(-6px);
  border: 1px solid #38bdf8;
  box-shadow: 0 8px 20px rgba(56,189,248,0.25);
}


/* PROJECTS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }

  .profile {
    width: 100%;
  }
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.card:hover {
  transform: translateY(-8px);
  border: 1px solid #38bdf8;
  box-shadow: 0 10px 30px rgba(56,189,248,0.25);
}

